/* Define standard variables and values for website */
/* Use the variables */
body {
  background-color: lightblue;
  color: darkblue;
  font-size: 18px; }

.example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black); }
