.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;

  p {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
